@charset "UTF-8";

/*
    ( em HTML é id    = em CSS é # ) só pode um elemento
    ( em HTML é class = em CSS é . ) podem vários elementos
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(2, 53, 0);

}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(75, 167, 70);
}

.basico {
    color: rgb(75, 167, 70);    
}

.intermediario {
    color: rgb(212, 214, 73);
}

.avancado {
    color: rgb(223, 35, 35);
}

.destaque {
    background-color: rgba(255, 255, 0, 0.61);
}