@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #37380c, #F9DD9B );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(51, 53, 11, 0.63);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #3f410d;
    text-align: center;
    text-shadow: 1px 1px 2px #242507ab;

}

h2 {
    color: #3f410d;

}

p {
    text-align: justify;
}

